<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>iosApp</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CU Connect</string>
	<key>CFBundleDisplayName</key>
	<string>CU Connect</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>

	<key>NSPrincipalClass</key>
	<string>UIApplication</string>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>CU Connect uses your location to show your position on the campus map and support navigation features.</string>

	<key>SUPABASE_URL</key>
	<string>https://yytytngfxdssdhozrfwo.supabase.co</string>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>sb_publishable_kdt_sI7dzwoKYEzu75gDiQ_Ah9GJw8y</string>

    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
